@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Booooookk!</p>
    <a asp-controller="Book" asp-action="Add">Add Book </a>
    <br />
    <a asp-controller="Book" asp-action="Index">View All Books</a>
</div>
