<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <h1>Update Cat</h1>
        <form method="post" asp-action="Add" asp-controller="Cat">
            <div>
                <div>
                    <label>Cat Name</label>
                    <input type="text" class="form-control" name="Name" required />
                </div>

                <div>
                    <label>Cat Age</label>
                    <input type="text" class="form-control" name="Age" required />
                </div>
                <div>
                    <label>Cat Breed</label>
                    <input type="text" class="form-control" name="Breed" required />
                </div>

                <div>
                    <label>Cat Image</label>
                    <input type="text" class="form-control" name="Img_Url" required />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Cat</button>
        </form>
</body>
</html>
