@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mrrr!Meow! </h1>
    <a asp-controller="Cat" asp-action="Add" class="btn btn-primary">Add</a>
    <br>
    <a asp-controller="Cat" asp-action="Index" class="btn btn-primary" >Cat List </a>
</div>
